<section class="home">
    <h1 class="welcome">Welcome to our website</h1>
    <h3 class="hello">Hello, <span>{{user.firstName}}</span> !</h3>
    <a href="cart/{{user.cartId}}">🛒</a>
    <h3 class="hello"><a href="products">Products</a></h3>

    <p class="greeting">Thank you for registering on our website. We are excited to have you as part of our community.</p>
    <p class="greeting">If you have any questions or need assistance, feel free to contact us.</p>
    <p class="greeting">We hope you enjoy your time here.</p>
    <p class="greeting">Welcome aboard!</p>
    <a class="logout" href='/api/sessions/logout'>Logout</a>
</section>